/*
    BREAKPOINTS

    600px
    1100px

    COLOR NOTES
    Links should be red normally; they should be blue on hover.
    The nav link background should be pink normally; it should
    be purple on hover.
    Headers are aqua.
*/

$pink: #ffdddd;
$purple: #ddddff;
$green: #ddffdd;
$blue: #ddffff;
$yellow: #ffffdd;
$aqua: #009999;
$font-stack: Palatino, Times, serif;
