body {
    background-color: #F3F3F3;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: "Roboto Slab", serif;
}

.header {
    padding-bottom: 1rem;
    background-color: #1D1D1D;
    color: #F3F3F3;
    background-image:
    linear-gradient(
        45deg,
        rgba(243,243,243,1) 50%, rgba(243,243,243,0) 50%
    ),
    linear-gradient(
        -45deg,
        rgba(243,243,243,1) 50%, rgba(243,243,243,0) 50%
    );
    background-position: bottom center, bottom center;
    background-size: 1rem 1rem, 1rem 1rem;
    background-repeat: repeat-x;
}

.header__title {
    margin: 0;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
    font-weight: 100;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
    color: #939393;
}

.basics, .story {
    margin: 0 1rem;
}

.basics__header, .story__header {
    color: #1D1D1D;
    font-size: 2rem;
}

.basics__label {
    color: #75A7A7;
}

.basics__value a {
    color: #1D1D1D;
}

.story__text {
    border-left: 1px solid #939393;
    padding-left: 1rem;
    margin-left: -1rem;
}

.avatar__image {
    margin-top: 4rem;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}
