/*
    BREAKPOINTS

    600px
    1100px

    COLOR NOTES
    Links should be red normally; they should be blue on hover.
    The nav link background should be pink normally; it should
    be purple on hover.
    Headers are aqua.
*/

$aqua: #009999;
$blue: #ddffff;
$green: #ddffdd;
$orange: #FFDDAA;
$pink: #ffdddd;
$purple: #ddddff;
$yellow: #ffffdd;
$font-stack: Palatino, Times, serif;

@mixin for-tablet-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1100px) { @content; }
}

body {
    background-color: $green;
    font-family: $font-stack;
}

ul {
    padding-left: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px 20px;
    box-shadow: 0 5px 20px #99AA99;
}

.header {
    text-align: center;
    border-bottom: 2px solid $purple;
    padding-bottom: 20px;

    &__logo {
        color: $aqua;
    }

    &__nav {
        a {
            display: block;
            line-height: 3rem;
            background-color: $pink;
            margin: 5px 0;
            color: red;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}

.main {
    background-color: $blue;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    h1, h2 {
        color: $aqua;
    }
}

.sidebar {
    &__block {
        background-color: $yellow;
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;

        h3 {
            color: $aqua;
        }
    }
}

.footer {
    background-color: $orange;
    text-align: center;
    margin: 20px 0 10px 0;
    padding: 10px;
    line-height: 3rem;
    border-radius: 5px;

    a {
        color: red;
        text-decoration: none;
        padding: 0 16px;
        font-weight: bold;
    }
}

@include for-tablet-up() {
    .container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        &__nav {
            display: flex;
            flex-direction: row;
            margin: 0 -10px;

            a {
                flex: 1 1 0;
                margin: 0 10px;
            }
        }
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        background-color: $yellow;
        border-radius: 5px;
        margin-top: 20px;

        &__block {
            background-color: transparent;
            flex: 1 1 0;
        }
    }
}

@include for-desktop-up() {
    .container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 16px;

        &__logo {
            flex: 1 1 40%;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        &__nav {
            flex: 1 1 60%;
        }
    }

    .main {
        display: flex;
        flex-direction: row;

        &__article {
            flex: 1 1 70%;
            margin: 0 10px 0 0;
        }

        &__subarticle {
            flex: 1 1 30%;
            margin: 0 0 0 10px;
        }
    }
}
